footer {
    div {


        .redesSociales {
            display: flex;
            margin-top: 2rem;
            padding: px;
            justify-content: space-around;

            img {
                width: 4rem;
                height: 4rem;
            }

        }

    }

    div {
        a {
            img {
                height: 5%;
                width: 5%;
            }
        }
    }

}