 /*$variable: algo;

@mixin estiloTexto ($family, $size) {
    font-family:$family;
    font-size:$size;
  }

@mixin flex ($flex, $espacio, $alinear) {
    display:$flex;
    justify-content: $espacio;
   align-items: $alinear;
}


header {
    a{
        @include estiloTexto(Arial,15);
        @include flex(flex, space-around,center);

    }
}
*/

 header {
     border-bottom: 2px solid black;
     position: sticky;
     top: 1px;
     background-color: white;
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 5px;
     caja-escava: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
     -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 10px 10px 5px 0px 0px rgba(0, 0, 0, 0.75);

     a {
         text-decoration: none;
         margin: 10px;

         img {
             width: 60px;
         }
     }


     .menu {
         display: flex;
         align-items: center;

         img {
             width: 20px;
         }

         a {
             font-family: Arial, Helvetica, sans-serif;
             text-decoration: none;
             margin-right: 10px;
         }


     }


     nav {
         ul {
             list-style-type: none;
             display: flex;

             a {
                 text-decoration: none;
                 margin: 10px;

                 img {
                     width: 60px;
                 }
             }
         }
     }

 }