* {
    margin: 0;
    padding: 0;
}



body {
    background-color: white;

    h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    main {
        h1 {
            font-size: 30px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: blue;
            margin-top: 2rem;
        }

        section {
            p {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-align: center;
                padding: 20px;
                margin: 20px;
                font-style: italic;
                font-weight: bold;
            }
        }
    }



    footer {
        div {
            a {
                img {
                    height: 10%;
                    width: 10%;
                }
            }


            h5 {}
        }


    }

    .galeria {
        display: flex;
        justify-content: center;

        img {
            padding: 15px;
            align-items: center;
        }
    }

    .redesSociales {
        display: flex;
        margin-top: 4rem;
        padding: 10px;
        justify-content: space-around;

        img {
            width: 3rem;
            height: 3rem;
        }
    }



    .card {
        background-color: white;
        width: 250px;
        padding: 13px;
        margin: 10px;
    }

    .flex {
        display: flex;
    }


}






@media screen and (max-width:720px) {
    /*CSS code for devices with a maximal width of 720 px */
}



@media screen and (max-width: 600px) {

    .grid-item-01 {
        grid-column: 1/3;
        grid-row: 1/3;
        background-color: white;
        padding: 10px;
        border-radius: 5px;

    }

    .grid-item-02 {

        grid-row: 3/5;
        grid-column: 1/3;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
    }

    .grid-item-03 {
        background-color: white;
        padding: 2rem;
        border-radius: 5px;
        grid-row: 5/7;
        grid-column: 1/3
    }

    .grid-item-04 {
        background-color: white;
        padding: 2rem;
        border-radius: 5px;
        grid-row: 7/9;
        grid-column: 1/3;
    }
}